<strong> Fiche Technique de la voiture {{ id }} </strong>

<ul>
    <li> Marque : {{ marque }}</li>
    <li> Série : {{ serie }}</li>
</ul>

<script src="{{ asset('js/jquery.js') }}"> </script>
<script>
    $(document).ready(function() {
        alert("Script working property");
    });
</script>