<h1>Liste des hotels :</h1>

<table border="8">

    <tr>

        <th>Nom </th>
        <th>Etat </th>
        <th>Prix </th>

    </tr>

    {% for hotel in hotels %}
        <tr>
            <td> {{ hotel.nom }}</td>
            <td> {{ hotel.etat }}</td>
            <td> {{ hotel.prix }}</td>
        </tr>
    {% endfor %}

</table>
